

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
@{
    ViewBag.Title = "登录";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>@Html.ActionLink("登录", "Index", "Home")</p>
    </div>
</body>
</html>

